*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    /*  */
}

.clearfix::after{
    content:'';
    display: table;
    clear:both;
}

body{
    color: #405465;
    background-color: aquamarine;
    font-family: 'Montserrat', sans-serif;
}

/* utility  ////////////////////////////////////////////////// */
.fw7{
    font-weight: 700;
    padding:10px;
}

.block{
    display: block;
}

.text_align{
    text-align: center;
}

.red{
    color:red;
}

.testogrosso{
    font-weight: 600;
}

.linea_or{
    content:'';
    width:60%;
    height:1px;
    background-color: black;
    margin:30px auto ;
}

ul li{
    list-style: none;
}

/* navigator  //////////////////////////////////////////////////*/

.nav1{  
    width:100%;
    margin:auto; 
    padding:20px 0 20px 0;
    background-color:#F4F9FD;
    border-bottom: 1px solid black;
}

.nav1 ul li{
    list-style-type:none;
    display: inline-block;
}
.nav2 ul li{
    list-style-type:none;
    display: inline-block;
}

.nav2 ul{
    display: inline-block;
}

.nav1 ul li:nth-child(2){
    margin-left:20px;
}

.nav1 ul li:nth-child(1){
    border-right: 1px solid;
    padding-right: 10px;
}

.nav2{
    height:60px;
    line-height: 100%;
    background-color: #FFFFFF;
    padding:10px 0 0 0;
    color: #405465;
}

.nav_logo{
    display: inline-block;
    width:25%;
    vertical-align: middle;
}

nav{
    margin:auto;
    width:80%;
}

.nav_left{
    float:left;
}

.nav_left a{
    text-decoration: none;
    color:#405566;
}


.nav_right{
    text-align: right;
}
.nav2_right{
    width:75%;
    text-align: right;
    float:right;
    line-height: 40px;
}

.btn{
    border:1px solid #FE775A;
    padding:10px;
    border-radius:5px ;
    background: transparent;
    background-color: #FAFCFE;
    color:#FE775A;
    margin:10px;
}

.btn:hover{
    background-color: #FE775A;
    color:white;
}

.btn_solid{
    background-color: #FE775A;
    color:white;
}

.btn_solid:hover{
    background-color: white;
    color:#FE775A;

}

.fa, .fa-search{
    margin-right: 10px;
    color: #1BADC4;
}

a{
    text-decoration: none;
}

/* /navigator ////////////////////////////////////////////////// */

/* header ////////////////////////////////////////////////// */

header{
    margin:auto;
    /* width:80%; */
    width:100%;
    background-color: beige;
    position:relative;
}

main{
    width:100%;
   /*  height:500px; */
   /*  background-color: red; */
    position:relative;
}

.intestazione{
    margin: auto;
    position: relative;
}

.intestazione>img{
    width:100%;
}

.title{
    font-weight: 500;
    width:30%;
    margin:auto;
    position:absolute;
    left:10%;
    top:10%;
    /* background-color: yellow; */
}

.title h1{
    font-weight: 800;
}

.title p{
    font-size:16px;
    /* font-weight: 400; */
}

.title span{
    padding:20px;
    float:left;
    margin:30px 0 0 0;
}

.title :nth-child(4){
    padding:0;
}

.barra_blu{
    height: 87px;
    width:100%;
    background-color:#AFEBE4;
    position: absolute;
    bottom:0;
    left:0;
    border-top: 3px solid #33475B;
    border-bottom: 3px solid #33475B;

}
/* /header /////////////////////////////////////////////////// */


/* main  /////////////////////////////////////////////////*/

#cubo{
    width:60%;
    height:100%;
    margin:auto;
   /*  background-color: green; */
    position:relative;
}

#cubo > .img_cubo{
    margin:auto;
    display: block;

}

.img_cubo{
    width:350px;
    height:270px; 
    padding-top: 20px;
}

.title2{
    margin:0;
    text-align: center;
}

.title2 h2{
    font-weight: 600;
}

.title2 span{
    
}

/* card ////////////////////////////////////// */

.card{  
    border:2px solid #EAF0F4;
    box-shadow: 2px;
    border-radius: 5px;
    margin:30px auto;
    width:80%;
    height:350px;
    background-color: white;
    position:relative;
}

.libro{
    width:30%;
   /*  height:100%; */
    float:left;
    padding:30px 0 30px 80px;

}

.libro img{
    width:200px;
    height:200px;
}

.libro span{
    padding:15px;
    position:absolute;
    left:100px;
    bottom:75px;
}

.prima_card{
    width:70%;
    height:100%;
    float:left;
    padding:50px 50px 30px 50px;
    position:relative;    
}




.prima_card h3{
    padding-top: 35px;
}

.prima_card ul li{
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    padding: 20px 40px 0 0;
}

.prima_card ul li i{
    margin:10px 10px 10px 0;
    
}



.prima_card h3::after{
    margin-top: 20px;
    margin-left: 30px;
    content:'';
    width:65%;
    height:1px;
    background-color: black;
    float:right;
}   


.col3{
    width:80%;
    margin:auto;
}

.cards3{
    float: left;
    /* margin:0 60px 20px 0; */
    width: 32%;
    height: 830px;
    background-color:white;
    display: inline-block;
    border-radius: 5px;
    position:relative;
}

.cards3:nth-child(2){
    margin:0 2%;
}
.col3 .cards3:last-child{
    margin-right: 0;
    padding-right: 0;
}

.cards3 span{
    padding-left: 20px;
    padding-bottom: 10px;
}

.cards3 p{
    padding:20px
}

.cards3 span:last-child{
    position: absolute;
    left:50%;
    transform: translate(-50%);
    padding:20px 30px;
    margin-top: 30px;
    
}

/* info section /////////////////////////// */

.info_container{
    margin-top:30px;
    width:100%;
    height:725px;
    color:white;
    background: linear-gradient(90deg, #00A8B9 0%, #00B9A9 100%);
}

.info_text{
    width:70%;
    margin:auto;
    text-align: center;
    padding:20px 0 50px 0;
}

.info_text h2{
    padding:15px;
}

.info_content{
    width: 70%;
    height:200px;
    /* background-color: green; */
    margin:auto;
}
 
.card4{
    padding:20px;
    text-align: center;
    float:left;
    display: inline-block;
    width: calc(100% / 4);
    height:100%;
}

.card4 h2{
    font-weight: 800;
}

.card4 span{
    font-size: 14px;
}

.border_br{
    border-top: none;
    border-left: none;
    border-right: 1px solid white;
    border-bottom: 1px solid white;;
}

.border_r{
    border-right: 1px solid white;
}

.border_b{
    border-bottom:1px solid white;
}


/* partners section  /////////////////////////*/

.partners{
    width:70%;
    margin:auto;   
}

.testo_partners{
    color:#33475B;
    width:30%;
    text-align: center;
    
    float:left;
}

.logo_partners{
    text-align: right;
    padding:10px 20px 0 0;
    /* line-height: 100px; */
}
 /* /////////////////// PARTNERS ///////////////////// */

 /* /////////////// PRIMA RIGA ////////////////////// */

.atlasian{
    background-image: url(../img/atlasian.webp);
    margin:5px;
    display: inline-block;
    width:150px;
    height:30px;
    background-size: 150px;
    background-repeat: no-repeat;
}

.doordash{
    background-image: url(../img/doordash.webp);
    margin:5px;
    display: inline-block;
    width: 150px;
    height:30px;
    background-size: 150px;
    background-repeat: no-repeat;
}
.crowd{
    background-image: url(../img/g2crowd.webp);
    margin:5px;
    display: inline-block;
    width: 150px;
    height:50px;
    background-size: 150px;
    background-repeat: no-repeat;
}
.purple{
    background-image: url(../img/purple.webp);
    margin:5px;
    display: inline-block;
    width: 150px;
    height:50px;
    background-size: 150px;
    background-repeat: no-repeat;
}
 /* ///////////////   /PRIMA RIGA ////////////////////// */

 /* /////////////// SECONDA RIGA ////////////////////// */

/* .logo_partners div{
    margin:5px;
    display: inline-block;
    width: 150px;
    height:50px;
    background-size: 150px;
    background-repeat: no-repeat;
} */

.subaru{
    background-image: url(../img/subaru.webp);
    margin:5px;
    display: inline-block;
    width: 150px;
    height:50px;
    background-size: 150px;
    background-repeat: no-repeat;
}
.wistia{
    background-image: url(../img/wistia.webp);
    margin:5px;
    display: inline-block;
    width: 150px;
    height:40px;
    background-size: 150px;
    background-repeat: no-repeat;
}
.classpass{
    background-image: url(../img//classpass.webp);
    margin:5px;
    display: inline-block;
    width: 150px;
    height:60px;
    background-size: 150px;
    background-repeat: no-repeat;
}
.vmware{
    background-image: url(../img/vmware.webp);
    margin:5px;
    display: inline-block;
    width: 150px;
    height:50px;
    background-size: 150px;
    background-repeat: no-repeat;
}

 /* ///////////////    /SECONDA RIGA ////////////////////// */
 /* ///////////////////    /PARTNERS ///////////////////// */

 /* \\\\\\\\\\\\\\\\\\ contenuto finale \\\\\\\\\\\\\\\\\ */


    /* sinistra */
 .contenuto_fin{
    width:80%;
    height: 450px;
    margin: 10px auto;
    position:relative;
 }

 .con_fin_txt{
    padding:20px;
    width:40%;
    height: 100%;
    text-align: left;
    float:left;
    line-height: 2rem;

 }
 
 .con_fin_img{
    width:60%;
    height:100%;
    float:left;
 }
.con_fin_txt span{
    padding:20px;
}

.margin{
    margin:40px 0 40px 0;
}

.margin0{
    margin:0;
}

    /* /sinistra */

    /* destra */
.con_fin_img img{
    text-align: right;
    float:right;
    height:100%;
    background-size: contain;
    background-repeat: no-repeat;
}

    /* /destra */


 