*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.clearfix::after{
    content:'';
    display: table;
    clear:both;
}

.vline{
    margin:0 10px 0 10px;
    content: '';
    height:15px;
    width:1px;
    background-color: black;
    display: inline-block;
    line-height: 20px;
}

.container{
    width:100%;
    height:2000px;
    background-color: aquamarine;
}

header{
    margin:auto;
    width:80%;
    height:800px;
    background-color: beige;
}

.nav1{  
    height:70px;
    padding:20px 0 20px 0;
    background-color:#F4F9FD;
    border-bottom: 1px solid black;
}

.nav2{
    height:70px;
    background-color: #FFFFFF;
    padding:10px 0 10px 0;
    color: #405465;
}

nav{
    margin:auto;
    width:80%;
    height:100%;
    
}

.nav_left, .nav_right, .nav_logo{
    /* line-height: 30px; */
    display: inline-block;
    width:50%;
    padding:10px 0 10px 0;
    float:left;
}

.nav_left a{
    text-decoration: none;
    color:#8594A0;
}

.nav_left{
    color:#8594A0;
}

.nav_right{
    text-align: right;
}

.lingue{
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: none;
    background: transparent;   
}

.btn{
    border:1px solid #FE775A;
    padding:10px;
    border-radius:5px ;
    background: transparent;
    background-color: #FAFCFE;
    color:#FE775A;
    margin:10px;
    
}

.btn_solid{
    background-color: #FE775A;
    color:white;
}

.fa, .fa-search{
    margin-right: 10px;
    color: #1BADC4;
}

a{
    text-decoration: none;
}