*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    /*  */
}

.clearfix::after{
    content:'';
    display: table;
    clear:both;
}

body{
    color: #405465;
    
  /*  font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Montserrat', sans-serif;
}


.container{
    width:100%;
    height:2500px;
    background-color: aquamarine;
}

/* navigator */

.nav1{  
    width:100%;
    margin:auto; 
    padding:20px 0 20px 0;
    background-color:#F4F9FD;
    border-bottom: 1px solid black;
}

.nav1 ul li{
    list-style-type:none;
    display: inline-block;
}
.nav2 ul li{
    list-style-type:none;
    display: inline-block;
}

.nav2 ul{
    display: inline-block;
}

.nav1 ul li:nth-child(2){
    margin-left:20px;
}

.nav1 ul li:nth-child(1){
    border-right: 1px solid;
    padding-right: 10px;
}

.nav2{
    height:60px;
    line-height: 100%;
    background-color: #FFFFFF;
    padding:10px 0 0 0;
    color: #405465;
}

.nav_logo{
    display: inline-block;
    width:25%;
    vertical-align: middle;
}

nav{
    margin:auto;
    width:80%;
}

.nav_left{
    float:left;
}

.nav_left a{
    text-decoration: none;
    color:#405566;
}


.nav_right{
    text-align: right;
}
.nav2_right{
    width:75%;
    text-align: right;
    float:right;
    line-height: 40px;
}

.btn{
    border:1px solid #FE775A;
    padding:10px;
    border-radius:5px ;
    background: transparent;
    background-color: #FAFCFE;
    color:#FE775A;
    margin:10px;
}

.btn:hover{
    background-color: #FE775A;
    color:white;
}

.btn_solid{
    background-color: #FE775A;
    color:white;
}

.btn_solid:hover{
    background-color: white;
    color:#FE775A;

}

.fa, .fa-search{
    margin-right: 10px;
    color: #1BADC4;
}

a{
    text-decoration: none;
}

/* /navigator */

/* header */

header{
    margin:auto;
    /* width:80%; */
    width:100%;
    background-color: beige;
    position:relative;
}

main{
    width:100%;
    height:500px;
   /*  background-color: red; */
    position:relative;
}

.intestazione{
    margin: auto;
    position: relative;
}

.intestazione>img{
    width:100%;
}

.title{
    font-weight: 500;
    width:30%;
    margin:auto;
    position:absolute;
    left:10%;
    top:10%;
    /* background-color: yellow; */
}

.title h1{
    font-weight: 800;
}

.title p{
    font-size:16px;
    /* font-weight: 400; */
}

.title span{
    padding:20px;
    float:left;
    margin:30px 0 0 0;
}

.title :nth-child(4){
    padding:0;
}

.barra_blu{
    height: 87px;
    width:100%;
    background-color:#AFEBE4;
    position: absolute;
    bottom:0;
    left:0;
    border-top: 3px solid #33475B;
    border-bottom: 3px solid #33475B;

}
/* /header */


/* main */

#cubo{
    width:60%;
    height:100%;
    margin:auto;
   /*  background-color: green; */
    position:relative;
}

#cubo > .img_cubo{
    display: block;
    background-size: 350px;
    position:absolute;
    left:50%;
    transform: translate(-50%);
}

.img_cubo{
    padding:20px;
    width:350px;
    height:270px;
    background-size: contain;
    background-repeat: no-repeat;
}

.title2{
    display: block;
    margin:0;
    position:absolute;
    top:50%;
    left:0;
    transform: translate(-50% -50%);
    text-align: center;
}

.title2 h2{
    font-weight: 600;
}

/* card */

.card{
    border:2px solid #EAF0F4;
    box-shadow: 2px;
    border-radius: 5px;
    margin: auto;
    width:80%;
    height:350px;
    background-color: red;
    position:relative;
}

.libro{
    width:30%;
   /*  height:100%; */
    float:left;
    padding:30px 0 30px 80px;

}

.libro img{
    width:200px;
    height:200px;
}

.libro span{
    padding:15px;
    position:absolute;
    left:100px;
    bottom:75px;
}

.prima_card{
    width:70%;
    height:100%;
    float:left;
    padding:50px 50px 30px 50px;
    position:relative;
    background-color: salmon;
}

.prima_card h2{
    font-weight: 600;
}

.prima_card h3{
    padding-top: 35px;
    font-weight: 700;
}

.prima_card ul li{
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
}
